<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.ptc.rain.notice.mapper.NoticeMapper">

    <select id="selectNoticeList" parameterType="NoticeDto" resultType="NoticeDto">
        SELECT 
        	NOTI_NO
        	, TITLE
        	, WRITER
        	, CONT
        	, REGR
        	, REG_DTIME
        	, MODR
        	, MOD_DTIME
        	, EXP_YN
        	, NOTI_TYP
        	, CMNT_YN
       	FROM notice;
    </select>
    
    <insert id="insertNotice" parameterType="NoticeDto">
    	INSERT INTO notice(
			TITLE
			,WRITER
			,CONT
			,EXP_YN
			,NOTI_TYP
			,CMNT_YN
		) VALUES(
			#{title},
			#{writer},
			#{cont},
			#{expYn},
			#{notiTyp},
			#{cmntYn}
		)
    </insert>
    
</mapper>